---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Accordéons &lt;details&gt;</h2>

  <details class="acc" open>
    <summary>Section 1</summary>
    <p>Contenu 1</p>
  </details>

  <details class="acc">
    <summary>Section 2</summary>
    <p>Contenu 2</p>
  </details>
</BaseLayout>
