---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Alertes</h2>

  <div class="alert alert-success">Succès : opération réussie.</div>
  <div class="alert alert-warning">Attention : vérifiez vos données.</div>
  <div class="alert alert-error">Erreur : quelque chose s’est mal passé.</div>
  <div class="alert alert-info">Info : mise à jour disponible.</div>
</BaseLayout>