---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Badges</h2>

  <span class="badge badge-primary">Nouveau</span>
  <span class="badge badge-outline">Info</span>
  <span class="badge badge-success">Validé</span>
  <span class="badge badge-error">Erreur</span>
</BaseLayout>