---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Dropdown</h2>

  <details class="dropdown">
    <summary>Menu</summary>
    <a href="#">Profil</a>
    <a href="#">Paramètres</a>
    <a href="#">Déconnexion</a>
  </details>
</BaseLayout>