---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Progress bar</h2>

  <div class="progress">
    <div class="progress-bar" style="width: 70%"></div>
  </div>
</BaseLayout>