---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Skeleton loader</h2>

  <div class="skeleton skeleton-text" style="width: 70%"></div>
  <div class="skeleton skeleton-text" style="width: 50%"></div>
</BaseLayout>