---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Étapes</h2>

  <div class="steps">
    <div class="step active">
      <div class="step-circle">1</div>
      <p>Infos</p>
    </div>
    <div class="step">
      <div class="step-circle">2</div>
      <p>Paiement</p>
    </div>
    <div class="step">
      <div class="step-circle">3</div>
      <p>Confirmation</p>
    </div>
  </div>
</BaseLayout>