---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Onglets CSS-only</h2>

  <div class="tabs">
    <a href="#tab1" class="tab">Tab 1</a>
    <a href="#tab2" class="tab">Tab 2</a>
  </div>

  <div id="tab1" class="tab-panel">
    <p>Contenu du premier onglet.</p>
  </div>

  <div id="tab2" class="tab-panel">
    <p>Contenu du second onglet.</p>
  </div>
</BaseLayout>